# Build artifacts
build/
*.exe
*.o
*.a

# Editor/IDE
*.swp
*.swo
*~
.vscode/
.idea/
.mimocode/

# OS
.DS_Store
Thumbs.db
res/installed.ini
*.log
*.wav
*.mod
*.txt
*.opus
*.vgz
*.zip
*.mp3
*.wma
*.m4a
*.xm
*.ogg
*.flac
*.mid*
*.ttf
*.jpg
